.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half-width {
  width: 50%;
}

.mleft {
  margin-left: 15px;
}

.mright {
  margin-right: 15px;
}

.clickable {
  cursor: pointer;
}
