<div class="">
  <section class="ui">
    <h1 class="header1">MyApp</h1>
    <h2 class="header1">Is awesome</h2>
    <!-- <div class="ui segments"> -->
    <div>
      <div class="ui two column stackable grid">
        <div class="column">
          <p>
            This is the front page called intro. It's nested inside main-view as you can see from the source code. Main-view consists of navbar and basic styling and intro is just the content.
          </p>
        </div>
        <div class="column">
          <img class="ui spaced image" src="img/nodejs.png">
        </div>
      </div>
    </div>
  </section>
</div>
