<header>
  <nav id="navigation" class="navbar" role="navigation">
    <div class="navbar-inner">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars fa-2x"></i>
        </button>
        <a id="brand" class="clearfix navbar-brand" href="/" alt="logo"><img class="nav-logo-size" src="/static/img/logo.png"></a>
      </div>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li></li>
          <li><a class="" ng-href="#/intro">Intro</a></li>
          <li></li>
          <li><a class="" ng-href="#/other">Other</a></li>
          <li></li>
          <li><a href="https://twitter.com"><i class="fa fa-twitter-square large"></i></a></li>
          <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square large"></i></a></li>
          <li></li>
          <li><a class="" href="#/login">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>