<div class="ui vertical menu fixed-pos">
  <div class="item">
    <div class="header" ng-click="toggleMenu(0)">
      <span class="">
        Yleistä
      </span>
      <i class="ion-android-arrow-dropdown-circle" ng-show="menuToggle[0]"></i>
      <i class="ion-android-arrow-dropup-circle" ng-show="!menuToggle[0]"></i>
    </div>
    <div class="menu" ng-show="menuToggle[0]">
      <a class="item">Historia</a>
      <a class="item">Taidot</a>
    </div>
  </div>
  <div class="item">
    <div class="header" ng-click="toggleMenu(1)">
      <span class="">
        Omat projektit
      </span>
      <i class="ion-android-arrow-dropdown-circle" ng-show="menuToggle[1]"></i>
      <i class="ion-android-arrow-dropup-circle" ng-show="!menuToggle[1]"></i>
    </div>
    <div class="menu" ng-show="menuToggle[1]">
      <a class="item">Koodaus</a>
      <a class="item">Fillari</a>
      <a class="item">Treidaus</a>
      <a class="item">Robotit</a>
    </div>
  </div>
  <div class="item">
    <div class="header" ng-click="toggleMenu(2)">
      <a href="https://github.com/TeemuKoivisto">GitHub</a>
      <i class="ion-android-arrow-dropdown-circle" ng-show="menuToggle[2]"></i>
      <i class="ion-android-arrow-dropup-circle" ng-show="!menuToggle[2]"></i>
    </div>
    <div class="menu" ng-show="menuToggle[2]">
      <div class="item">
        <a class="header" href="free-time-header">Vapaa-aika</a>
        <a class="item" href="https://oppiapp.herokuapp.com/">OppiApp</a>
        <a class="item" href="https://peli-maailma.herokuapp.com/">PeliMaailma</a>
      </div>
      <div class="item">
        <div class="header">Koulu</div>
        <a class="item" href="https://grappa-app.herokuapp.com/">Grappa</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="header" ng-click="toggleMenu(3)">
      <span class="">
        CV
      </span>
      <i class="ion-android-arrow-dropdown-circle" ng-show="menuToggle[3]"></i>
      <i class="ion-android-arrow-dropup-circle" ng-show="!menuToggle[3]"></i>
    </div>
    <div class="menu" ng-show="menuToggle[3]">
      <a class="item">PDF</a>
      <a class="item">Yhteystiedot</a>
    </div>
  </div>
</div>
