<!-- <div style="margin: 0 15px 0 230px;"> -->
  <!-- <div class="ui raised very padded container segment">
    <h1 class="ui header">Dogs Roles with Humans</h1>
    <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
    <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
  </div> -->
<!-- </div> -->
<!-- <div class="ui fluid container">
  <div class="ui horizontal segments">
    <div class="ui segment">
      <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
    </div>
    <div class="ui segment">
      <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
    </div>
    <div class="ui segment">
      <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
    </div>
  </div>
</div> -->
<div style="margin: 0 15px 0 230px;">
  <div class="ui two column middle very relaxed stackable grid">
    <div class="column">
      <!-- <div class="ui horizontal segments"> -->
        <div class="ui segment">
          <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
        </div>
      <!-- </div> -->
    </div>
    <!-- <div class="ui vertical divider">
    </div> -->
    <!-- <div class="center aligned column">
      <div class="ui big green labeled icon button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div> -->
    <div class="ui column">
      <div class="ui segment">
        <!-- <img src="img/bike.png"> -->
        <img class="ui image" src="img/bike.png">
        <!-- <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p> -->
      </div>
    </div>
  </div>
  <div class="ui two column middle very relaxed stackable grid">
    <div class="column">
      <!-- <div class="ui horizontal segments"> -->
        <div class="ui segment">
          <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
        </div>
      <!-- </div> -->
    </div>
    <!-- <div class="ui vertical divider">
    </div> -->
    <!-- <div class="center aligned column">
      <div class="ui big green labeled icon button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div> -->
    <div class="ui column">
      <div class="ui segment">
        <img src="img/bike.png">
        <!-- <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p> -->
      </div>
    </div>
  </div>
</div>
