<!-- <div style="margin: 0 15px 0 230px;">
  <div class="ui two column middle very relaxed stackable grid">
    <div class="column">
        <div class="ui segment">
          <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
        </div>
    </div>
    <div class="ui column">
      <div class="ui segment">
        <img class="ui image" src="img/bike.png">
      </div>
    </div>
  </div>
  <div class="ui two column middle very relaxed stackable grid">
    <div class="column">
      <div class="ui horizontal segments">
        <div class="ui segment">
          <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui segment">
        <img src="img/bike.png">
      </div>
    </div>
  </div>
</div> -->

<div class="main-content-container">
  <section class="ui">
    <h1 class="header1">Minä</h1>
    <h2 class="header1">Historia</h2>
    <!-- <div class="ui segments"> -->
    <div>
      <div class="ui two column stackable grid">
        <div class="column">
          <p>
            Synnyin 25.9.1992 Turun yliopistollisessa sairaalassa mutta syntymäkaupungikseni merkattiin kuitenkin Raisio. Eli jos tekee mieli lyödä vyön alle niin kyllä, olen syntyjäni turkulainen. Mutta koska vanhempani päättivät sittemmin muuttaa Hyvinkäälle niin
            vartuinkin täysin erilaisessa ympäristössä tuolla Salpausselän harjun kupeessa. Aina 7-vuotiaasta tuonne yläkoulun 7. luokalle eli 13-vuotiaaksi asuimme 5-päisenä perheenä Hakalassa, pienen ojanpurosen varrella jossa tuli monet lapsuuden leikit
            leikittyä.
          </p>
        </div>
        <div class="column">
          <img class="ui spaced image" src="img/my-portrait.png">
        </div>
      </div>
      <div class="ui segment">
        <p>
          Yläkoulussa muutin Vehkojalle ja sieltä menin Hyvinkään Yhteiskoulun Lukioon ja kirjoitin keväällä 2011 ylioppilaaksi. No kirjoitukset olisivat voineet paremminkin sen myönnän, mutten juurikaan ollut niistä motivoitunut. Sittemmin lähdin armeijaan tuonne
          Parolan panssariprikaatiin jossa sain sodanajan-aseman Panssarijääkärikomppanian Rada-miehenä eli aka. Radioauto-miehenä.
        </p>
        <p>
          Armeijan jälkeen tein puolisen vuotta töitä Hyvinkään Nuoriso ja Aikuiskoulutus säätiöllä ajellen pakettiautolla, lastaamassa sairaanhoitotarvikkeita ja tekemässä muita manuaalisia hommia. Välillä kävin myös tekemässä hommia rakennustyömaalla jossa sitten
          rappasin omakotitaloa ja hain samalla Metropolian Ammattikorkeakouluun opiskelemaan kone- ja tuotantotekniikkaa.
        </p>
        <p>
          Metropoliassa viihdyin jokseenkin vaikka tiesin etten koskaan tulisi koneinsinööriksi valmistumaan. Sen verran arkisilta ja tylsiltä monet asiat tuntuivat ja halusin mieluummin tehdä jotain jossa pääsisin itse toteuttamaan omia ideoitani. Jotenka jossain
          vaiheessa sitten keksin tietojenkäsittelytieteen joka siis itseäni oli aina mietityttänyt mutten koskaan ollut tohtinut kunnolla opetella. Joten sinä lokakuisena päivänä aloinkin heti ryhtyä koodaamaan ja otin kursseiksi mahdollisimman omaa
          alaa lähellä olevia opintoja.
        </p>
      </div>
      <div class="ui three column middle very relaxed stackable grid">
        <div class="column">
          <p>
            Mutta huomasin kyllä aika pian ettei ympäristö oikein tuntunut kaiken suotuisimmalta tulevaisuuttani varten. AMK:n koulumainen ilmapiiri minusta oli jotenkin etäistä ja opetus kovinkin mekaanista makuuni. Joten pikimmiten aloin valmistautumaan hakemaan
            Helsingin Yliopiston tietojenkäsittelytieteen opintoihin, joihin järjestetty MOOC oli hyvä ensikosketus tuohon ohjelmoinnin ihmeelliseen maailmaan.
          </p>
        </div>
        <div class="column">
          <p>
            Ensimmäisenä vuonna tein rivakalla tahdilla perusopintoja ja sainkin vuoden loppuun mennessä kasaan 100 opintopistettä joista Metropoliasta hyväksiluettuja oli noin 30 op. Kesän sitten vietinkin ohjelmoinnin saloihin syventyen ja aloin työstää ensimmäistä
            kunnon projektiani Angularilla ja Nodella. Kyseessä oli sovellus matematiikan digitaaliseen opettamiseen josta myöhemmin kerron lisää.
          </p>
        </div>
        <div class="column">
          <p>
            Projektia työstäessäni opinkin valtavasti enkä ehkä oikein huomannut kuin vasta kouluun palatessani kuinka paljon olinkaan edistynyt varsinaisen koodauksen osalta. Mielestäni omien juttujen teko on parhain oppimisen tapa ja alkutaidot kartutettuani olenkin
            Javascriptin osalta jo kehittyneemmällä tasolla, ja ennen kaikkea olen harjaantunut todella nopeaan omatoimiseen oppimiseen.
          </p>
        </div>
      </div>
    </div>
    <section class="ui padded">
      <div class="ui horizontal divider">

        <!-- <h2 class="header">Taidot</h2> -->
      </div>
      <h2 class="header1">Taidot</h2>
      <div class="">
        <div class="ui two column middle very relaxed stackable grid">
          <div class="column">
            <p>
              Luettelisin pääsijaisiksi vahvuuksiini Javascriptin josta erityisesti
              <a ng-href="https://nodejs.org/en/" target="_blank">Node.js</a> ja
              <a ng-href="https://angularjs.org/" target="_blank">Angular</a>
              ovat minulle tuttuja. Nyt olen päässyt tekemään
              <a ng-href="https://facebook.github.io/react/">Reactilla</a>
              sovellusta ja pidän senkin joistan puolista mutta ennen kaikkea odotan
              Angular 2.0:n tuloa ja millaiseksi se on muodostumassa.
            </p>
            <div class="ui two column middle very relaxed stackable grid">
              <span class="column">
                <img class="ui spaced small image" src="img/angular.jpg">
                <!-- <div>
                  Angular on webframework.
                </div> -->
              </span>
              <span class="column">
                <img class="ui spaced small image" src="img/react.svg">
                <!-- <div>
                  Kuten myös React. Ne ovat mielestäni tämän hetken parhaimmat frameworkit.
                </div> -->
              </span>
            </div>
          </div>
          <div class="column">
            <img class="ui spaced image" src="img/nodejs.png">
            Node.js on kehitysympäristö joka pyörittää JavaScript ohjelmointikielellä toimivia sovelluksia.
          </div>
        </div>
        <p>
          Muista ohjelmointikielistä Java on minulle toinen vahva kieli, erityisesti koulun kautta olen sitä päässyt oppimaan ja joitain back-end frameworkkeja kuten Spring ja Spark olen päässyt kokeilemaan.
        </p>
        <p>
          <b>C-kielistä</b> olen kaikkia kolmea koodannut mutten valtavasti mihinkään rakastunut. Ehkä se johtuu etten ole tarvinnut alemman asteen koodausta mihinkään omaan projektiini ja C#:ia on hivenen turha oppia jos osaa jo Javaa eikä erityisesti tunne työpöytäsovelluksiin
          intohimoa.
        </p>
        <p>
          <b>Pythonia</b> myös olen ohjelmoinut, sillä tein pikkuisen pelin pygame-kirjastolla mutta kielen rajoitteiden vuoksi en ole sillä sen enempää koodannut. Skriptikieleksi minulle on muodostunut enemmänkin Javascript mutta pidän kyllä edelleen Pythonistakin sen
          selkeän syntaksin ja helppolukuisuuden vuoksi.
        </p>
        <p>
          Funktionaalisiin kieliin en ole vielä syvemmin utustunut mutta uskon vielä perehtyväni Clojureen sen webbikäyttöisyyden takia. ES6 jo hivenen on antanut minulle esimakua immutaabeleista muuttujista ja olenkin jo alkanut tykkäämään funktionaalisen tavan
          järkevyydestä iteratiivisen mekaanisuuden sijaan.
        </p>
        <p>
          Muiksi työssä hyödyttäviksi taidoikseni luokittelisin 3D-ohjelmoinnin osaamisen, suoritin siitä kaksi intensiivistä kurssia Metropoliassa ja halutessani varmasti asiat verestyisivät mieleeni jos joudun tekemään 3D-tulostamista.
        </p>
        <p>
          Myöskin olen kirjallisesti jokseenkin lahjakas vaikken siitä erityisemmin ihmisille mainitse. Minusta kieli on kuitenkin ultimaattinen symbolinen ohjelmointikieli jos näin voi sanoa ja sen moniulotteisuus ja syntaksin äärettömyys on ehkä inhimillisin
          ohjelmointikieli joka meillä on.
        </p>
        <p>
          Jos vielä oman ahkeruuteni ja pienen perfektionismin tänne lisäisin niin toivottavasti en ala kuulostamaan liian kehuskelevalta :D. Mutta tärkeintä on että tekee mistä tykkää eikä ota itseään liian vakavasti. Ja että antaa enemmän muille kuin ottaa.
        </p>
        <h2 class="coolheader">Olen kala</h2>
      </div>
    </section>

    <!-- <section class="main-content-section">
    <h1>Omat projektit</h1>
    <h2>Koodaus</h2>
    <p>Koodasin lol joskus jotain.</p>

    <h2>Fillari</h2>
    <p>Tein Metropoliassa fillarin.</p>
    <img src="img/bike.png">

    <h2>Treidaus</h2>
    <p>Tein rahaa Outokummulla.</p>
    <img src="img/nordnet-balance.png">

    <h2>Kirjoittaminen</h2>
    <p>Tykkään kirjoittaa aina välillä. >_></p>

    <h2>Robotit</h2>
    <p>Aion opetella niitä.</p>
  </section>

  <section class="main-content-section">
    <h1 id="free-time-header">Vapaa-aika</h1>
    <h2>OppiApp</h2>
    <p>Tein tämmöisen softan todennäköisyyslaskennan kurssille</p>

    <h2>PeliMaailma</h2>
    <p>Vielä keskeneräinen projekti tekoälyjen duunaamisesta yksinkertaisiin peleihin</p>
  </section> -->
</div>
